/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */
 
 $enable-font-awesome: dynamic(true);
 $base-color:dynamic(#2b2b2b);
 //$panel-body-background-color:dynamic(#e1e1e1);
 /*
 $panel-base-color:dynamic(#2b2b2b);
 $panel-header-background-color:dynamic(#2b2b2b);
 $panel-header-padding : 0px !default;
*/